[Unit]
Description=Anthony Magic Mirror
After=graphical-session.target network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/MagicMirror
ExecStart=/usr/bin/node --run start
Restart=always
RestartSec=15

[Install]
WantedBy=default.target
