[Unit]
Description=Anthony Magic Mirror
After=graphical-session.target

[Service]
Type=simple
Restart=always
RestartSec=15
WorkingDirectory=%h/MagicMirror
ExecStart=/usr/bin/node --run start

[Install]
WantedBy=default.target
